    :root{
    --fundo-artistico:radial-gradient(ellipse at top left,rgb(8, 87, 8),rgb(241, 241, 7) ),
                      radial-gradient(ellipse at bottom left,rgb(86, 228, 86),rgb(86, 228, 86)),
                      radial-gradient(ellipse at top right,rgb(235, 235, 0),rgb(8, 87, 8)),
                      radial-gradient(ellipse at bottom right,rgb(8, 87, 8),rgb(248, 248, 8) );
    }
    body{
        color: white;
        font-family: 'Orbitron', monospace;
        background-color: black;

    } 
    .menu a:hover {
        background:greenyellow;
        color:black;
        font-weight: bold;
        

    }
    .menu{
        display: flex;
        padding-left: 20px;
        justify-content: space-between;
        
    }
    .menu a{
        text-decoration: none;
        color: greenyellow; 
        border-radius: 20px;
        font-size: larger;
        padding-right: 30px;
        padding-left: 30px;
        
    }
    .logo{
        display: inline-block;   
        justify-content: end;  
    }
    #mid{
        display: flex;
        padding-left: 70px;
        text-decoration: none;
        color: white;
        padding-top: 200px;
        
    }
    #mid a{
     color:greenyellow;
     text-decoration: none;
     display:inline;
    }
    #intro{
        padding-right: 300px;

    }
    #foto img{
        border-radius:200px;
        border-style: groove;
        border-color: greenyellow;
    }
    .about{
        display: flex;
        padding: 70px;
        font-size: medium;
        gap: 50px;
        padding-top: 200px;
    }
    .about-me{
        padding-right: 175px;
    }
    .circle img{
        width: 300px;       /* define o tamanho */
        height: 300px;      /* mantém a proporção quadrada */
        object-fit: cover;  /* evita distorção e preenche o espaço */
        border-radius: 50%; 
        border-style: groove;
        border-color:greenyellow;
    }